html{
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff;
}

.login-button {
  background-color: #ecdfcc; /* Customize color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 20px;
}

.login-button:hover {
  background-color: #0056b3; /* Darker shade for hover */
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px; /* Adjust the gap between the list items */
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.nav-links a:hover {
  color: #ecdfcc;
}

.hero {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  background-color: #010101;
  color: #ffffff;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.bg-image {
  position: absolute;
  width: 650px;
  height: 650px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  transition: transform 1s ease-out;
  top: 0;
  left: 100;
  background-image: url("../assets/land1.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
  filter: brightness(90%);
}

/* .hero:hover .bg-image {
  transform: rotate(360deg);
  animation: rotate-bg 100s linear infinite;
} */

/* @keyframes rotate-bg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.hero-content h1 {
  position: relative;
  z-index: 1;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  position: relative;
  z-index: 1;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.cta-button {
  position: relative;
  padding: 0.75rem 1.5rem;
  background-color: #f0a500;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 30px;
  z-index: 1;
}

.cta-button:hover {
  background-color: #ffbf00;
}

/* About, Projects, Contact Sections */
section {
  padding: 3rem 2rem;
  text-align: center;
}

.about,
.projects,
.contact {
  height: 100vh;
}

.projects {
  background-color: #697565;
  color: #1e201e;
}

.projects .flow {
  animation: flowText 10s infinite linear;
}

@keyframes flowText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Contact */
.contact {
  background-color: #ecdfcc;
  color: #3c3d37;
}

.about {
  background-color: #3c3d37;
  color: #ecdfcc;
}
