body,html{
  height:100%;
  margin:0;
}
.header{
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header{
  background-color: white;
}
.hfirst{
  background: 
  linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0)), 
  url('D:\miscellaneous\PhMg\src\assets\camera.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width:100vw;
  height: 50vw;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgba(196,191,195,255);
  padding: 2px 30px;
}
.logo {
  color:black;
  font-size: 1.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: auto;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 100px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  padding:4px;
}
.nav-links a {
  color: black;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-size: 1.2rem;
  padding-left: 2px;
  padding-right: 2px;
  align-items: center;
  justify-content:center ;
  text-align: center;
}
.nav-links a:hover{
  text-decoration: dashed black;
  border-radius:5px;
  margin-left:2px;
  margin-right: 2px;
  margin-top: 5px;
  margin-bottom:5px;
}
.nav-links a:hover::after {
  width: 100%; 
}

.nav-links li a svg { 
  margin-right: 8px; 
  width: 15px; 
  height: 15px; 
}
.body h1{
  font-size:50px;
  color:white;
}
.body p{
  font-size:25px;
  color:white;
}
.body{
  position: absolute;
  left:20px;
  top:175px;
  text-align:justify;
}
.pro{
  background-color: aliceblue;
}
.sbt{
  background-color:rgba(196,191,195,255); 
  color: black; 
  border: none; 
  padding: 10px 20px; 
  font-size: 16px; 
  border-radius: 5px;
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
}
.sbt :hover{
  transform: scale(1.05);
}
.dropbtn {
  background-color:rgba(255, 182, 193, 0.1);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-content {
  display: flex;
  position: absolute;
  background:linear-gradient(to bottom,rgba(196,191,195,255),tan);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  flex-direction: column;
  justify-content: center;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: white;
}


